.delButtons {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  height: 36px;
}
.delHeader {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid #e8e8e8;
  font-size: 18px;
  font-weight: 500;
  align-items: end;
}
.delPackBody {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
}
.buttonsBlock {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  height: 36px;
}
.textField {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  color: #737171;
  padding: 0 0 5px 0;
}
/*.addPackBody{*/
/*    padding: 20px 24px;*/
/*}*/
