.superWrapper{
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    /*padding: 10px;*/
}
.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    margin: 0 auto;
    /*padding: 0 70px 0 50px;*/
    box-shadow: 0 0 10px rgb(0, 0, 0.2);
    background: rgb(245 246 250);
    max-height: 600px;
    width: 380px;
}
.container{
    margin: 78px 13px 37px 13px;
    text-align: center;
}
.title, .helpText{

}
.containerForEmail{
    margin: 38px 30px 16px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.containerForPassword{
    display: flex;
    flex-direction: column;
    margin: 20px 30px 16px 30px;
    /*margin: 0 0 10px 0;*/
    height: 66px;
    text-align: start
}
.textField {
    /*align-items:start;*/
    display: flex;
    justify-content: space-between;
}
.forgotPass {
    font-size: 14px;
    color: #737171;
    cursor: pointer;
    margin: 25px 0 0 0;
    font-weight: 400;
    text-decoration: none;
}
.forgotPass:hover{
    color: var(--input-border-focus);
    text-decoration: underline;
}

.helpText {
    font-size: 14px;
    color: #737171;
    margin: 10% 3% 2% 3%;
    font-weight: 400;
    text-decoration: none;
}
.helpTextForgotPasswordContainer{
    margin: 28px 0 0 0;
    /*width :101px;*/
    /*height: 17px;*/
    text-align: end
}
.helpTextForgotPassword{
    font-size: 14px;
    color: #737171;
    font-weight: 400;
    text-decoration: none;
}
.helpTextBold {
    font-size: 1.5rem;
    color: #2c2cd2;
    margin: 2% 3% 2% 3%;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.label {
    display: block;
    /*margin-bottom: 0.25rem;*/
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    color: #737171;
    /*margin: 43% 3% 9% 7%;*/
}

.wrapper_submit_checkbox {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}
.wrapper_submit_button {
    /*padding: 35px 0 10px 0;*/
    /*width: 100%;*/
    margin-top: 25px;
    text-align: center;
    color: white;
    width: 300px;
    font-weight: 200;
    border: none;
    height: 36px
}
.passView{
    width: 20px;
    height: 20px;
    color: #4a5651;
}
.message{
    font-size: 13px;
    color: red;
    text-align: center;
}
.messageSuccess{
    font-size: 14px;
    font-weight: bold;
    color: var(--input-border-focus);
    text-align: center;
}
.passwordField{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.viewImage{
    position: relative;
    right: 25px;
    top: 25px;
    width: 0;
    height: 0;
}
